# Python
venv/
__pycache__/
*.pyc

# Data
legacy/data

# macOS
.DS_Store

# Xcode
legacy/ios-app/build/
legacy/ios-app/*.xcworkspace
legacy/ios-app/**/*.xcuserstate

legacy/food_similarity_recommender.egg-info

# recipe_box
legacy/recipe_box