# Python
venv/
__pycache__/
*.pyc
.env
cspell.json

# misc/legacy
# Data
misc/legacy/data

# macOS
.DS_Store

# Xcode
misc/legacy/ios-app/build/
misc/legacy/ios-app/*.xcworkspace
misc/legacy/ios-app/**/*.xcuserstate

misc/legacy/food_similarity_recommender.egg-info

# recipe_box
misc/legacy/recipe_box

baseline/data
# backend (moved from baseline)
backend/.env
backend/.dockerignore
backend/data
